<div class="container">
  <div class="title">
    <span>進行中</span>
  </div>
  <div class="order-container" *ngFor="let order of getProccessingData()">
    <div class="image">
        <img [src]="order.logo" height="42" width="42">
    </div>
    <div class="info">
      <div class="label-container">
        <div class="label">{{order.status.type}}</div>
        <div>預計出貨：{{order.date}}</div>
      </div>
      <div>{{order.name}}</div>
    </div>
    <div class="footer">
      <i class="fas fa-angle-right"></i>
    </div>
  </div>

  <div class="title border-top">
      <span>已完成</span>
    </div>
    <div class="order-container" *ngFor="let order of getFinishedData()">
      <div class="image disabled-image">
          <img [src]="order.logo" height="42" width="42">
      </div>
      <div class="info">
        <div class="label-container">
          <div class="disabled-label">{{order.status.type}}</div>
        </div>
        <div>{{order.name}}</div>
      </div>
      <div class="footer">
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
</div>
